# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
testrig
bin/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Build outputs
translations/

# Temporary files from Windows Remote Desktop
*.rdp